<% title t("authentications.sign_in") %>

<% if @authentications %>  
 <% unless @authentications.empty? %>  
  <p><strong><%= t("authentications.sign_in_methods_for_current_user")%></strong></p>  
   <div class="authentications">  
    <% for authentication in @authentications %>  
     <div class="authentication">  
      <%= image_tag "/images/#{authentication.provider}_32.png", 
      :size => "32x32"%>  
      <div class="provider"><%= t authentication.provider, :scope => :auth_provider  
      %></div>  
      <div class="uid"><%= authentication.uid %></div>  
       <%= link_to "X", authentication, :confirm => t("authentications.remove_auth_prompt"),
        :method => :delete, :class => "remove" %>  
     </div>  
     <% end %>  
     <div class="clear"></div>  
    </div>  
   <% end %>   
<% end %>
<%= render :partial => "layouts/auth_nav" %>
<div class="clear"></div> 