<div class='span-12 last userbox'>
  <% if user_signed_in? %>  
    <%= t "authentications.sign_in_prompt", :login_name => current_user.email%>
    <%= link_to t("authentications.sign_out"), destroy_user_session_path, :method => :delete %>  
  <% else %>  
    <%= link_to t("authentications.sign_up"), new_user_registration_path %>
    <%= t("or") %>
    <%= link_to t("authentications.sign_in"), new_user_session_path %>  
  <% end %>  
</div>